CompileFlags:  
  QueryDriver: 
    - "**/*xtensa-esp32*-elf-gcc*"
    - "**/*xtensa-esp32*-elf-g++*"
    - "**/*gcc*"

  Add:
    - "-D__extension__="
    - "-D__attribute__(x)="
    - "-D_GNU_SOURCE"
  Remove:
    - "-fno-tree-switch-conversion"
    - "-fstrict-volatile-bitfields"
    - "-mlongcalls"
    - "-mfix-esp32-psram-cache-issue"
    - "-mdisable-hardware-atomics"

Diagnostics:
  Suppress:
    - "drv_unknown_argument"
    - "pp_file_not_found"
